%h2 Index Page

/ please render another partial here (ex. 'file_to_be_rendered')

/ you will have to explain what every part of the following line does!
%p.link_paragraph= "Find help #{link_to 'here', 'http://middlemanapp.com/basics/helpers/', target: '_blank'} if you're stuck."

/ as the footer content should be rendered on each page, extract it to a partial (maybe 'footer.html.haml') and render it from there (maybe put it in 'layout.html.haml')
%footer
  %p footer content
