%h2 Page 2

/ try using ruby code! start with '-' for code or '=' for rendered output

- a_string = 'Web-Development is awesome!'

%p= a_string

%p= a_string.gsub('awesome', 'sweet')

/ can you render the string here inside another string? (interpolation)
%p= "We all agree that 'a_string'"
